---
layout: default
title: Group name
---
<section class="about">
<p>
  {% include about.md %}
  <br>
  <a href="#news">Find out what's new&hellip;</a>
</p>
<img src="assets/group.jpg"></img>
</section>
</section>
<h3>Contact info</h3>
<p>
  {% include contact.md %}
</p>
</section>
<section>
<h3 id="news">News from the group</h3>

{% for post in site.posts %}
<article>
  <h3>{{ post.title }}</h3>
  {{ post.excerpt }}
  <a href="{{ post.url | relative_url }}">
    More&hellip;
  </a>
</article>
{% endfor %}

</section>